button {
    background: var(--color-interact);
    border-radius: 20%;
}
input {
    background: var(--main-bg-color);
    border-radius: 50px;
    border: 2px var(--color-text) solid;
}
.App {
    background: var(--main-bg-color);
}
