@import "theme.css";

.Navigation nav {
    height: 70px;
    background: var(--color-accent);
}

.Navigation header button {
    background: transparent;
}

#dormitories {
    margin: 15px;
    width: 160px;
    height: 10vh;
    color: var(--color-text);
    font-size: var(--main-font-size);

}

#search {
    width: 50%;
    height: 30px;
    margin: 15px;
}

#profile {
    height: 50px;
    border-radius: 50%;
    background: var(--color-interact);
    position:absolute;
    right: 0;
    margin: 10px;
}
